<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <title>My Bookshelf</title>
  </head>

  <body>
    <div class="page-layout">

      <header>
        <%- include('../partials/_navbar') %>
      </header>

      <main>
        <div class="container">
          <h1>My Bookshelf</h1>

          <% if (books.length === 0) { %>
          <p>
          You have no books in your collection.
          <a href="/books/new">Add a new book</a>.
          </p>
          <% } else { %>

          <div class="book-grid">
         <% books.forEach(function(book) { %>
          <div class="book-card">
          <h2>
          <a href="/books/<%= book._id %>"><%= book.title %></a>
          </h2>
         <p>by <%= book.author %></p>
         </div>
        <% }); %>
         </div>
          <% } %>
        </div>
      </main>

    </div>
  </body>
</html>
