
<link rel="stylesheet" href="/style.css">
<nav class="nav">
  <div class ="nav-left">
  <% if(user) { %>
  <a href="/">Home</a>
  <a href="/books">My Bookshelf</a>
  <a href="/books/new">Add New Book</a>
  </div>
  <div class="nav-right">
  <% } if (user) { %>
  <form action="/auth/sign-out" method="POST">
    <button type="submit">Sign Out</button>
  </form>
  <% } else { %>
  <a href="/auth/sign-in">Sign In</a>
  <a href="/auth/sign-up">Sign Up</a>
  <% } %>
  </div>
</nav>
