.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .page-layout {
  border: 3px solid red;
}

}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}
.auth-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fffacb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fffacb;
  padding: 12px 20px;
  border-radius: 8px;
}
nav button {
  color: rgb(22, 22, 22);
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

main .container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #4a3c36;
}


.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 18px;
  margin-top: 20px;
}

.book-card {
  background: rgb(248, 227, 162);
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.actions {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.welcome-message {
  font-size: 18px;
  margin-bottom: 20px 0 30px;
  color: #4a3c36;
}
.book-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.delete-btn {
  background-color: #c14f4f;
  color: rgb(22, 22, 22);
}
.cancel-btn {
  background-color: #4caf50;
  color: rgb(22, 22, 22);
}